<section>
    <h3 class="h3">
        关于 iHealth</h3>
    <p>
        iHealth实验室，公司所提供的创新，移动个人保健产品，使分析健康轨道、图形和安全共享信息等变得精简化。 iHealth移动互联血压计是第一款个人健康管理的工具，适用于iPod touch，iPhone和iPad。 iHealth实验室根据时代科技的发展以及人们切实的需要，发展个人医疗设备，并使用苹果iOS移动平台设计应用程序套件，迈在了时代的最前端。</p>
    <h4 class="h4">
        iHealth为什么使用移动设备连接、收集和共享个人健康数据呢？</h4>
    <p>
        今天的个人保健医疗产品的主要问题一般都是被锁定在简单的方式来了解、跟踪和分享用户的健康信息，无法及时与家人和医生进行有效的交流，越来越显不便，而如果个人保健医疗产品连接到移动设备中，用户可以随时追踪和共享个人健康数据，很容易与医疗保健专业人员和护理人员进行合理的交流，所以iHealth选择使用移动设备连接、收集和共享个人健康数据 ，就很好的解决了这一难题。</p>
    <p>
        我们相信，良好的个人健康将从个人更积极的行动开始。iHealth实验室的目的是建立更易于人们管理个人使用设备，跟踪和安全地共享的一个数据平台。我们希望我们的产品将给您的个人健康带来更好的明天。</p>
    </div>

</section>