<section>
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4" >
        <div class="text-center ">
            <h2>Sign up iHealth</h2>
        </div>

        <div>
            <h4>Email</h4>
            <input type="email" class="form-control" placeholder="email" required autofocus>
            <h4>Password</h4>
            <input type="password" class="form-control" placeholder="password">
            <h4>Confirm password</h4>
            <input type="password" class="form-control" placeholder="confirm password">

            <br>
            <div class="text-center form-group">
                <button type="submit" class="btn btn-primary">Sign up</button>
                &nbsp; or&nbsp;
                <a ui-sref="signIn">Sign in</a>
            </div>
        </div>

    </div>
</section>